[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
beautifulsoup4 = "*"
"lectio.py" = {ref = "dev", git = "https://github.com/dnorhoj/lectio.py.git"}

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
