[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"lectio.py" = {ref = "dev", git = "https://github.com/dnorhoj/Lectio.py.git"}
flask = "*"
requests = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.10"
