.modul {
    cursor: pointer;
    transition: all 50ms ease-in-out;
}

.modul:hover {
    background-color: #efefef;
}

p {
    margin: 0;
}

.flex-even{
    flex: 1;
}

.scroll{
    max-height: 100vh;
    overflow-y: auto;
}