.clickable {
    cursor: pointer;
    transition: all 50ms ease-in-out;
}

.clickable:hover {
    background-color: #efefef;
}

p {
    margin: 0;
}

.flex-even{
    flex: 1;
}

.scroll{
    max-height: 100vh;
    overflow-y: auto;
}

.grid-container {
    display: grid;
    /* grid-template-columns: auto auto auto auto auto auto auto; */
    grid-template-columns: repeat(7, minmax(0, 1fr));
    /* grid-auto-flow: column; */
    /* background-color: #2196F3; */
    padding: 5px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 0px;
    font-size: 30px;
    text-align: center;
}