<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Absence</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
            integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
            crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        
        <script src="js/absence.js" defer></script>
        <link href="/style/style.css" rel="stylesheet" />
        
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="border-end mx-2">
                    <a class="navbar-brand">LectioSite</a>
                </div>

                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navmenu"
                    >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navmenu">
                    <div class="navbar-nav">
                        <a class="nav-link mx-2" href="/">Home</a>
                        <a class="nav-link mx-2" href="/usersched">Your Schedule</a>
                        <a class="nav-link active mx-2" href="/absence">Your Absence</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container mt-4">

            <!-- Flex container for cards -->
            <div class="row">
                <!-- Physical absence card/table -->
                <div class="col-12 col-md-6 pb-2 px-1">
                    <h3 class="mt-2 fw-bold text-center">
                        Physical Absence
                    </h3>
                    <table class="table table-bordered table-striped text-center">
                        <thead>
                            <tr>
                                <th rowspan="2"></th>
                                <th colspan="2">Calculated</th>
                                <th colspan="2">Year</th>
                            </tr>
                            <tr>
                                <th>Percent</th>
                                <th>Modules</th>
                                <th>Percent</th>
                                <th>Modules</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for abs in absence %}
                            <tr>
                                <!-- Each elemnt contains an "if none", that instead replaces it with an empty string -->
                                <!-- Thats why it looks messy, surely im not just bad at coding, trust -->
                                <th scope="row">{{abs.subject|e}}</th>
                                <td>{{abs.absence_data.physical_calculated_percentage if abs.absence_data.physical_calculated_percentage is not none}}%</td>
                                <td>{{abs.absence_data.physical_calculated_absent|int if abs.absence_data.physical_calculated_absent is not none}}
                                    /{{abs.absence_data.physical_calculated_total|int if abs.absence_data.physical_calculated_total is not none}}</td>
                                <td>{{abs.absence_data.physical_percentage if abs.absence_data.physical_percentage is not none}}%</td>
                                <td>{{abs.absence_data.physical_absent|int if abs.absence_data.physical_absent is not none}}
                                    /{{abs.absence_data.physical_total|int if abs.absence_data.physical_total is not none}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- Assignment absence card/table -->
                <div class="col-12 col-md-6 px-1">
                    <h3 class="mt-2 fw-bold text-center">
                        Assignment Absence
                    </h3>
                    <table class="table table-bordered table-striped text-center">
                        <thead>
                            <tr>
                                <th rowspan="2"></th>
                                <th colspan="2">Calculated</th>
                                <th colspan="2">Year</th>
                            </tr>
                            <tr>
                                <th>Percent</th>
                                <th>Modules</th>
                                <th>Percent</th>
                                <th>Modules</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for abs in absence %}
                            <tr>
                                <!-- Each elemnt contains an "if none", that instead replaces it with an empty string -->
                                <!-- Thats why it looks messy, surely im not just bad at coding, trust -->
                                <th scope="row">{{abs.subject|e}}</th>
                                <td>{{abs.absence_data.assignment_calculated_percentage if abs.absence_data.assignment_calculated_percentage is not none}}%</td>
                                <td>{{abs.absence_data.assignment_calculated_absent|int if abs.absence_data.assignment_calculated_absent is not none}}
                                    /{{abs.absence_data.assignment_calculated_total|int if abs.absence_data.assignment_calculated_total is not none}}</td>
                                <td>{{abs.absence_data.assignment_percentage if abs.absence_data.assignment_percentage is not none}}%</td>
                                <td>{{abs.absence_data.assignment_absent|int if abs.absence_data.assignment_absent is not none}}
                                    /{{abs.absence_data.assignment_total|int if abs.absence_data.assignment_total is not none}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>