<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>lectio site</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
            integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
            crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        
        <script src="js/script.js" defer></script>
        <link href="/style/style.css" rel="stylesheet" />
        
    </head>

    <body>
        <div class="container mt-4">
            <h1 class="text-center">Welcome, {{name}}!</h1>
            <h5 id="countdown" class="text-center">00:00:00 until school is done</h2>
            <div class="d-flex justify-content-between">

                <!-- Todays sched mainscreen card -->
                <div class="card mt-3 mx-3" style="width: 18rem; height: 0%;">
                    <div class="card-header text-white bg-dark">
                        <h5 class="card-title">{{cdate.strftime('%Y-%m-%d')}}</h5>
                        <p class="card-text">Classes for the day</p>
                    </div>
                    <ul class="list-group list-group-flush" id="modules">
                        {% for module in sched %}
                        <li data-id="{{loop.index}}" class="list-group-item clickable">
                            <div class="d-flex justify-content-between">
                                <div>
                                    {% if module.status == 'cancelled' %}
                                    <span class="text-danger"><del>{{module.subject}}</del></span>
                                    {% else %}
                                    <span>{{module.subject}}</span>
                                    {% endif %}
                                    
                                    <div id="time" data-endtime="{{module.end_time.isoformat()}}" class="text-muted">
                                        {% set stime = module.start_time.strftime('%H:%M') %}
                                        {% set etime = module.end_time.strftime('%H:%M') %}
                                        {{stime + ' - ' + etime}}
                                    </div>
                                </div>

                                <!-- Pills -->
                                <div class="d-flex flex-column justify-items-start ps-3">
                                    <div>
                                        {% if module.room %}
                                        <span class="badge rounded-pill text-bg-secondary">{{module.room.split('(')[0]|e}}</span>
                                        {% else %}
                                        <span class="badge rounded-pill text-bg-secondary">None</span>
                                        {% endif %}
                                    </div>
                                    {% if module.start_time <= cdate and module.end_time>= cdate %}
                                        <div>
                                            <span class="badge rounded-pill text-bg-success">Now</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Displayed when hoverd over -->
                            <div style="display: none;">
                                <hr>
                                <span class="fst-italic d-block">{{module.teacher|e}}</span>
                                {% if module.extra_info %}
                                <span class="fw-light text-muted">{{module.extra_info|e}}</span>
                                {% endif %}
                            </div>
                        </li>

                        <!-- Modal for the class pressed under sched -->
                        <div class="modal fade" tabindex="-1" aria-hidden="true" id="classmodal{{loop.index}}">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title">{{module.subject|e}}</h1>
                                        <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h3>
                                            {{stime + ' - ' + etime}} 
                                            <i class="text-muted">
                                                ({{module.end_time-module.start_time}})
                                            </i>
                                        </h3>
                                        <div class="d-flex justify-content-center">
                                            <div class="flex-even">
                                                <p class="fw-bold">Room:</p>
                                                <p>{{module.room|e}}</p>
                                            </div>
                                            <div class="flex-even">
                                                <p class="fw-bold">Teacher:</p>
                                                <p>{{module.teacher|e}}</p>
                                            </div>
                                        </div>
                                        {% if module.extra_info %}
                                        <hr>
                                        <div>
                                            <p class="fw-bold"><small>Extra info:</small></p>
                                            <p><small>{{module.extra_info|e}}</small></p>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="d-flex justify-content-start modal-footer">
                                        <a href="{{module.url}}" target="_blank" class=""><small>Module link</small></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </ul>
                </div>

                <!-- User search div -->
                <div class="d-flex flex-column mt-3 mx-3" style="width: 25rem;">

                    <!-- User search function -->
                    <form id="user-search">
                        <div class="input-group mb-0">
                            <input type="submit" class="btn btn-outline-secondary" value="All users">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" id="student-search">Students</a></li>
                                <li><a class="dropdown-item" href="#" id="teacher-search">Teachers</a></li>
                                <li><a class="dropdown-item" href="#" id="initial-search">Initials</a></li>
                            </ul>
                            <input type="text" class="form-control" aria-label="User search" id="users">
                        </div>
                    </form>

                    <!-- progess bar -->
                    <div id="user-search-load" class="align-self-center spinner-border text-secondary mt-4" role="status" style="display: none;">
                        <span class="sr-only"></span>
                    </div>

                    <!-- Results for user search -->
                    <div>
                        <div class="card scroll" id="user-search-results" style="display: none;">
                            <ul class="list-group list-group-flush" id="user-list">
                            </ul>
                        </div>
                    </div>

                    <!-- User search modal -->
                    <div class="modal fade" tabindex="-1" aria-hidden="true" id="usermodal" data-user-id="">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="usermodal-name">Name</h1>
                                    <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close" id="usermodal-close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="d-flex justify-content-start">
                                        <div>
                                            <img class="rounded" id="usermodal-img" src="" style="height: 10rem;">
                                        </div>
                                        <div class="d-flex flex-column flex-grow-1">
                                            <div class="d-flex flex-row justify-content-between">
                                                <div class="flex-even d-flex flex-column align-items-center">
                                                    <p class="fw-bold" id="usermodal-class-initial-text">Class/initials:</p>
                                                    <p id="usermodal-class-initial">stuff</p>
                                                </div>
                                                <div class="flex-even d-flex flex-column align-items-center">
                                                    <p class="fw-bold">Type:</p>
                                                    <p id="usermodal-type">stuff</p>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="d-flex justify-content-evenly mt-3">
                                                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" id="usermodal-sched-btn" data-bs-target="#user-sched-modal">Schedule</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-start modal-footer">
                                    <p id="usermodal-id">ID</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- User modal sched cards -->
                    <div class="modal fade" id="user-sched-modal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="user-sched-modal-name"></h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="d-flex flex-row justify-content-start" id="usermodal-sched-list">
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between modal-footer">
                                    <p id="usermodal-sched-id">ID</p>
                                    <button class="btn btn-primary" data-bs-target="#usermodal" data-bs-toggle="modal">Back</button>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
                
                <!-- Room search function -->
                <div class="d-flex flex-column mt-3 mx-3" style="width: 25rem;">

                    <!-- Room search bar -->
                    <form id="room-search">
                        <div class="input-group mb-0">
                            <input type="submit" class="btn btn-outline-secondary" value="Rooms">
                            <input type="text" class="form-control" aria-label="Rooms search" id="rooms">
                        </div>
                    </form>

                    <!-- progess bar -->
                    <div id="room-search-load" class="align-self-center spinner-border text-secondary mt-4" role="status" style="display: none;">
                        <span class="sr-only"></span>
                    </div>

                    <!-- Room search results -->
                    <div>
                        <div class="card scroll" id="room-search-results" style="display: none;">
                            <ul class="list-group list-group-flush" id="room-list">
                            </ul>
                        </div>
                    </div>

                    <!-- Room sched modal -->
                    <div class="modal fade" id="room-modal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="room-modal-header"></h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="alert alert-primary" role="alert" id="room-available">
                                        ...
                                    </div>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-primary" id="room-sched-all">All</button>
                                        <button type="button" class="btn btn-primary" id="room-sched-available">Available</button>
                                        <button type="button" class="btn btn-primary" id="room-sched-not-available">Not Available</button>
                                    </div>
                                    <div class="d-flex flex-row justify-content-start" id="room-modal-card-holder">
                                    </div>
                                </div>
                                <div class="d-flex justify-content-start modal-footer">
                                    <p id="room-id">ID</p>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </body>
</html>