<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Your Schedule</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
            integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
            crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        
        <script src="/js/usersched-script.js" defer></script>
        <link href="/style/style.css" rel="stylesheet" />
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="border-end mx-2">
                    <a class="navbar-brand">LectioSite</a>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link mx-2" href="/">Home</a>
                        <a class="nav-link active mx-2" aria-current="page" href="/usersched?user_id=192639">Your Schedule</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-fluid mt-2">
            <div class="grid-container">
                <div class="grid-item">Monday</div>
                <div class="grid-item">Tuesday</div>
                <div class="grid-item">Wednesday</div>
                <div class="grid-item">Thursday</div>
                <div class="grid-item">Friday</div>
                <div class="grid-item">Saturday</div>
                <div class="grid-item">Sunday</div>
                {% for d in dates %}
                <div class="grid-item">
                    <div>
                        <div class="card my-2 mx-2">
                            <div class="card-header text-white {% if d.month != cdate.month %} bg-secondary {% elif d.date() == cdate.date() %} bg-success {% else %} bg-dark {% endif %}">
                                <h5 class="card-title">{{d.date()}}</h5>
                            </div>
                            <ul class="list-group list-group-flush fs-6">
                                {% if (d.date() not in actual_dates) and (d.month == cdate.month) %}
                                <li class="list-group-item text-bg-success">
                                    <span>No Activities!</span>
                                </li>
                                {% endif %}

                                {% for i in sched %}
                                {% if i.start_time.date() == d.date() %}
                                <li class="list-group-item clickable" data-module='{{i}}' onclick="moduleModal(event)">
                                    <div style="white-space: nowrap; overflow-x: hidden;">
                                        {% if i.status == cancelled %}
                                        <span class="text-danger"><del>{{i.subject}}</del></span>
                                        {% else %}
                                        <span>{{i.subject}}</span>
                                        {% endif %}
                                    </div>
                                    {% set stime = i.start_time.strftime('%H:%M') %}
                                    {% set etime = i.end_time.strftime('%H:%M') %}
                                    <p class="text-muted">{{stime + ' - ' + etime}}</p>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="modal fade" tabindex="-1" aria-hidden="true" id="sched-modal">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modal-header">Subject</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3 id="modal-body-time">
                        69:00 - 42:00
                    </h3>
                    <div class="d-flex justify-content-center">
                        <div class="flex-even">
                            <p class="fw-bold">Room:</p>
                            <p id="modal-body-room">1.03a</p>
                        </div>
                        <div class="flex-even">
                            <p class="fw-bold">Teacher:</p>
                            <p id="modal-body-teacher">sjs</p>
                        </div>
                    </div>
                    <div id="modal-body-extra-div" style="display: block;">
                        <hr>
                        <div>
                            <p class="fw-bold"><small>Extra info:</small></p>
                            <p id="modal-body-extra"><small>Extra info</small></p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-start modal-footer">
                    <a href="link lol" target="_blank"><small>Module link</small></a>
                </div>
              </div>
            </div>
          </div>
    </body>
</html>